html {
   font-family: 'Open Sans', sans-serif;
   /* line-height: 1.15;*/
    -webkit-text-size-adjust: 100%;
}
body {
  background-color: #fff;
}
.top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    background-color: #82af42;
    /*box-shadow: 0 0 2px -1px #333;*/
}
.navbar {
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
p {
  text-align: justify;
  font-size: 16px;
  line-height: 2; 
}
.img-content img {
  border-radius: 8px;
  min-width: 200px;
  max-width: 200px;
  display: block;
  float: left;
  margin: 15px 15px 15px 0;
  background-color: #82af42;
  border: 0px solid #82af42;
  box-shadow: 2px 2px 2px #A2A79A;
}
.title {
    margin: 5px 150px 5px 10px;
    color: #fff;
    background-color: #82af42;
    border: 2px solid #fff;
    border-radius: 6px;
    font-size: 25px;
    box-shadow: 2px 2px 2px #9976A03C;
    padding: 0px 0px 4px 0px;
}
.content {
  margin: 0 ;
  padding: 50px 10px 50px 20px;
  border-bottom: 1px solid #ddd;
}

#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:left;
}
#menu li{
display:inline-block;
position:relative;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}

#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
background-color: #82af42;
}
#menu li:hover ul{
max-height:1000px;
padding-top: 13px;
}
#menu a{
text-decoration:none;
display:block;
color:#fff;
}
#menu li:hover li a{
    color:#white;
    text-transform:inherit;
    padding: 4px 0px 4px 0px;
}
#menu li:hover li:hover a{
    color:#82af42;
    background:#fff;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 16px 2px 16px ;
    margin: ;
    text-decoration: none;
}

.chapter-item a{
color: #fff;
background-color: #82af42;
border: 2px solid #82af42;
border-radius: 25px;
padding: 0px 4px 0px 4px;
box-shadow: 2px 2px 2px #A2A79A;
}
.myClass {
background-color: #fff;
}
.main-menu img {
    max-width: 13px;
}
/*
.menu a {
 text-transform:inherit;
    text-decoration:none;
    color: #fff;
}
.menu li {
    list-style: none;
    padding-right: 70px;
    display:inline-block;
    font-size: 30px ;
}
.sub-menu ul {
    list-style: none;
    display:inline-block;
     padding-right: 70px;
}
.sub-menu a {
    text-transform:inherit;
    text-decoration:none;
    color: 
}
.sub-menu {
    padding-left: 360px;
}
*/


/*#menu ul li a {
    margin: 0 1px;
    padding: 0 15px;
    color: #eee;
    display: block;
}
a {
    vertical-align: baseline;
}*/
/*
.chapter-item a:hover{
background-color: #fff;
border: 2px solid #fff;
}*/
/*  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

/* idée faire un bloc gris autour du home et maybye du titre*/