html {
   font-family: 'Open Sans', sans-serif;
   /* line-height: 1.15;*/
    -webkit-text-size-adjust: 100%;
}
body {
  background-color: #fff;
}
p {
  text-align: justify;
  font-size: 16px;
  line-height: 2; 
}
.img-content img {
  border-radius: 8px;
  min-width: 200px;
  max-width: 200px;
  display: block;
  float: left;
  margin: 15px 15px 15px 0;
}
.home img {
    min-width: 5px;
}
.top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    background-color: #82af42;
    /*box-shadow: 0 0 2px -1px #333;*/
}
.navbar {
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.title {
  color: #fff;
  /*text-shadow: 3px 3px 1px black;*/
}
.content {
  margin: 0 auto;
  padding: 60px;
  border-bottom: 1px solid #ddd;
}

/*
.active {
    background-color: #FCC138;
    color: white;
}
*/

#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:left;
}
#menu li{
display:inline-block;
position:relative;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}

#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
background-color: #82af42;
}
#menu li:hover ul{
max-height:15em;
}
    
#menu li:hover{
background:#D96F933D ;
}
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#white;
text-transform:inherit;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
